<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="companyinfo">
                        <h2><span>M</span>agic <span>B</span>ooks</h2>

                    </div>
                    <div class="col-sm-6">
                        <a href="/Home/Iletisim"><i class="glyphicon glyphicon-envelope"></i><span> İletişim</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2019 Magic Books Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank">Noktalı Virgül</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
