
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <head>
        <script src="~/Scripts/jquery-2.2.4.min2.js"></script>
        <!-- bootstrap 4 js -->
        <script src="~/Scripts/popper.min2.js"></script>
        <script src="~/Scripts/bootstrap.min2.js"></script>
        <script src="~/Scripts/owl.carousel.min2.js"></script>
        <script src="~/Scripts/metisMenu.min2.js"></script>
        <script src="~/Scripts/jquery.slimscroll.min2.js"></script>
        <script src="~/Scripts/jquery.slicknav.min2.js"></script>
        <script src="~/Scripts/modernizr-2.8.3.min2.js"></script>
        <!-- others plugins -->
        <script src="~/Scripts/plugins2.js"></script>
        <script src="~/Scripts/scripts2.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login - srtdash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
        <link rel="stylesheet" href="~/Content/css/bootstrap.min2.css">
        <link rel="stylesheet" href="~/Content/css/font-awesome.min2.css">
        <link rel="stylesheet" href="~/Content/css/themify-icons2.css">
        <link rel="stylesheet" href="~/Content/css/metisMenu2.css">
        <link rel="stylesheet" href="~/Content/css/owl.carousel.min2.css">
        <link rel="stylesheet" href="~/Content/css/slicknav.min2.css">
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <!-- others css -->
        <link rel="stylesheet" href="~/Content/css/typography2.css">
        <link rel="stylesheet" href="~/Content/css/default-css2.css">
        <link rel="stylesheet" href="~/Content/css/styles2.css">
        <link rel="stylesheet" href="~/Content/css/responsive2.css">
        <!-- modernizr css -->

    </head>
</head>
<body>
    <!doctype html>
    <html class="no-js" lang="en">

    <body>
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <!-- preloader area start -->
        <!-- preloader area end -->
        <!-- login area start -->

        @RenderBody()
        <!-- login area end -->
        <!-- jquery latest version -->

    </body>
</html>

</body>
</html>
